<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      nav {
        background-color: gray;
        color: white;
        font-size: 25px;
        padding: 30px 10px;
        height: 30px;
        overflow: hidden;
        position: relative;
        transition: height 1.5s ease-in-out, background-color 2s ease-in-out,
          font-size 2s ease-in-out;
      }

      nav:hover {
        height: 80px;
        background-color: #e2e2e2;
        font-size: 20px;
      }

      nav a {
        display: inline-block;
        color: white;
        text-decoration: none;
        transition: transform 3s ease-in-out, color 2s ease-in-out;
      }

      nav:hover a {
        color: #000000;
      }

      .line {
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
        background-color: #000000;
        transform-origin: 0 0;
        transform: scaleX(0);
        transition: transform 1s ease-in-out;
      }

      .message {
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
        color: #000000;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
      }

      nav:hover .line {
        transform: scaleX(1);
      }

      .nav-link:hover + .line,
      .nav-link:hover + .line + .message {
        opacity: 1;
      }

      .main-nav {
        text-align: center;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.8);
        position: relative;
      }

      #searchForm {
        overflow: hidden;
      }

      #searchArea {
        margin-top: 100px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        width: 300px;
        height: 40px;
        overflow: hidden;
        border-radius: 20px;
        transition: width 1s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      }

      #searchArea:hover {
        width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
      }

      #searchInput {
        flex: 1;
        height: 100%;
        padding: 8px;
        font-size: 16px;
        border: none;
        border-radius: 20px 0 0 20px;
        outline: none;
        margin: 0;
        padding: 0 2px 0 8px;
        /* padding-bottom: 10px; */
      }

      #searchButton {
        opacity: 0;
        padding: 8px;
        font-size: 16px;
        background-color: #4caf50;
        color: white;
        border: none;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
        transition: opacity 0.3s ease-in-out;
      }

      #searchArea:hover #searchButton {
        opacity: 1;
      }

      #searchButton:hover {
        background-color: #45a049;
      }

      main {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;
      }

      .content {
        border: 2px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        width: 300px;
        margin: 10px;
        text-align: left;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }

      .content:hover {
        transform: scale(1.05);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }

      .content-title {
        color: #333;
        font-size: 1.5em;
      }

      .content-para {
        color: black;
      }

      @media (max-width: 600px) {
        main {
          flex-direction: column;
          align-items: center;
        }

        .content {
          width: 80%;
        }
      }

      footer {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 15px;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

      .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
      }

      .personal-details,
      .social-media {
        flex: 1;
      }

      .social-media a {
        margin-right: 10px;
        color: white;
        font-size: 20px;
        transition: color 0.3s ease-in-out;
      }

      .social-media a:hover {
        color: #55acee;
      }

      .loader-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }

      .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <div class="navigation">
      <nav class="main-nav">
        <a href="/" class="nav-link">GitExplore</a>
        <div class="line"></div>
        <div class="message" id="userMessage">Hello User</div>
      </nav>
    </div>
    <div class="loader-container">
      <div class="loader"></div>
    </div>
    <form id="searchForm">
      <div id="searchArea">
        <input
          type="text"
          id="searchInput"
          placeholder="Enter GitHub account"
        />
        <button id="searchButton" type="submit">Search</button>
      </div>
    </form>

    <main>
      <div class="content">
        <h2 class="content-title">Get Started</h2>
        <p class="content-para">Input a GitHub username</p>
        <p class="content-para">Investigate user's profile details</p>
        <p class="content-para">Examine repositories for coding languages</p>
        <p class="content-para">Utilize the filter bar for precision</p>
      </div>

      <div class="content">
        <h2 class="content-title">Key Features</h2>
        <p class="content-para">Lookup User Profile</p>
        <p class="content-para">Insight into Repositories</p>
        <p class="content-para">Repositories Filtering</p>
      </div>

      <div class="content">
        <h2 class="content-title">Why GitExplore?</h2>
        <p class="content-para">Discover with Ease</p>
        <p class="content-para">User-Centric Design</p>
        <p class="content-para">In-Depth Insights</p>
        <p class="content-para">Efficient Time Management</p>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <div class="personal-details">
          <p>Created by Shahajade &copy; <span id="currentYear"></span></p>
          <p>Email: shahajade.student.cer20@gmail.com</p>
        </div>
        <div class="social-media">
          <a
            href="https://twitter.com/shahajade"
            target="_blank"
            title="Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="https://www.instagram.com/shahajade__"
            target="_blank"
            title="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </footer>

    <script>
      function redirectToOtherRoute() {
        const navbarSearchInput = document.getElementById("searchInput");
        const username = navbarSearchInput.value.trim();

        if (username.length === 0) {
          console.error("Error: Please enter a valid username.");

          const { errorDiv, overlayDiv } = showErrorMessage(
            "Please enter a valid username."
          );
          function removeErrorMessage() {
            errorDiv.remove();
            overlayDiv.remove();
            document.removeEventListener("click", removeErrorMessage);
          }
          setTimeout(() => {
            document.addEventListener("click", removeErrorMessage);
          });

          return;
        } else {
          showLoader();
        }

        console.log(username);
        window.location.href = `/userdata/${username}/1/10`;
      }

      function showErrorMessage(message) {
        // Create an overlay div for background opacity
        const overlayDiv = document.createElement("div");
        overlayDiv.style.position = "fixed";
        overlayDiv.style.top = "0";
        overlayDiv.style.left = "0";
        overlayDiv.style.width = "100%";
        overlayDiv.style.height = "100%";
        overlayDiv.style.background = "rgba(0, 0, 0, 0.5)";
        overlayDiv.style.zIndex = "9998";
        const errorDiv = document.createElement("div");
        errorDiv.textContent = message;
        errorDiv.style.color = "red";
        errorDiv.style.fontSize = "18px";
        errorDiv.style.position = "fixed";
        errorDiv.style.top = "50%";
        errorDiv.style.left = "50%";
        errorDiv.style.transform = "translate(-50%, -50%)";
        errorDiv.style.padding = "20px";
        errorDiv.style.background = "#fff";
        errorDiv.style.border = "2px solid red";
        errorDiv.style.zIndex = "9999";
        errorDiv.style.width = "500px";
        errorDiv.style.height = "100px";
        errorDiv.style.opacity = "0";
        errorDiv.style.transition = "opacity .5s ease-in";

        document.body.appendChild(overlayDiv);
        document.body.appendChild(errorDiv);
        errorDiv.offsetHeight;
        errorDiv.style.opacity = "1";

        return { errorDiv, overlayDiv };
      }

      document
        .getElementById("searchForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          redirectToOtherRoute();
        });

      function showLoader() {
        document.querySelector(".loader-container").style.display = "flex";
      }

      function toggleNavbarHeight() {
        const navigation = document.querySelector(".navigation");
        const line = document.querySelector(".line");
        const message = document.querySelector(".message");

        navigation.classList.toggle("hovered");

        if (navigation.classList.contains("hovered")) {
          line.style.transform = "scaleX(1)";
          message.style.opacity = "1";
        } else {
          line.style.transform = "scaleX(0)";
          message.style.opacity = "0";
        }
      }

      const navigation = document.querySelector(".navigation");
      navigation.addEventListener("mouseenter", toggleNavbarHeight);
      navigation.addEventListener("mouseleave", toggleNavbarHeight);
      document.getElementById("currentYear").textContent =
        new Date().getFullYear();
    </script>
  </body>
</html>
