<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Page Title</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="handle.css" />
    <style>
      .loader-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }

      .loader {
        border: 8px solid #f3f3f3;
        border-top: 8px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <div class="navigation">
      <nav class="main-nav">
        <a href="/" class="nav-link">GitExplore</a>
        <div class="line"></div>
        <div class="message" id="userMessage">Hello User</div>
      </nav>
    </div>
    <div class="loader-container">
      <div class="loader"></div>
    </div>
    <form id="searchForm">
      <div id="searchArea">
        <input
          type="text"
          id="searchInput"
          placeholder="Enter GitHub account"
        />
        <button id="searchButton" type="submit">Search</button>
      </div>
    </form>

    <main>
      <div class="content">
        <h2 class="content-title">Get Started</h2>
        <p class="content-para">Input a GitHub username</p>
        <p class="content-para">Investigate user's profile details</p>
        <p class="content-para">Examine repositories for coding languages</p>
        <p class="content-para">Utilize the filter bar for precision</p>
      </div>

      <div class="content">
        <h2 class="content-title">Key Features</h2>
        <p class="content-para">Lookup User Profile</p>
        <p class="content-para">Insight into Repositories</p>
        <p class="content-para">Repositories Filtering</p>
      </div>

      <div class="content">
        <h2 class="content-title">Why GitExplore?</h2>
        <p class="content-para">Discover with Ease</p>
        <p class="content-para">User-Centric Design</p>
        <p class="content-para">In-Depth Insights</p>
        <p class="content-para">Efficient Time Management</p>
      </div>
    </main>
    <footer>
      <div class="footer-content">
        <div class="personal-details">
          <p>Created by Shahajade &copy; <span id="currentYear"></span></p>
          <p>Email: shahajade.student.cer20@gmail.com</p>
        </div>
        <div class="social-media">
          <a
            href="https://twitter.com/shahajade"
            target="_blank"
            title="Twitter"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="https://www.instagram.com/shahajade__"
            target="_blank"
            title="Instagram"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
    </footer>

    <script>
      function redirectToOtherRoute() {
        showLoader();
        const navbarSearchInput = document.getElementById("searchInput");
        const username = navbarSearchInput.value.trim();
        window.location.href = `/userdata/${username}/1/10`;
      }

      document
        .getElementById("searchForm")
        .addEventListener("submit", function (event) {
          event.preventDefault();
          redirectToOtherRoute();
        });

      function showLoader() {
        document.querySelector(".loader-container").style.display = "flex";
      }

      function toggleNavbarHeight() {
        const navigation = document.querySelector(".navigation");
        const line = document.querySelector(".line");
        const message = document.querySelector(".message");

        navigation.classList.toggle("hovered");

        if (navigation.classList.contains("hovered")) {
          line.style.transform = "scaleX(1)";
          message.style.opacity = "1";
        } else {
          line.style.transform = "scaleX(0)";
          message.style.opacity = "0";
        }
      }

      const navigation = document.querySelector(".navigation");
      navigation.addEventListener("mouseenter", toggleNavbarHeight);
      navigation.addEventListener("mouseleave", toggleNavbarHeight);
      document.getElementById("currentYear").textContent =
        new Date().getFullYear();
    </script>
  </body>
</html>
